################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EDI_NCPDP_Ingestion/.vs/EDI_NCPDP_Ingestion.slnx/FileContentIndex
