<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NCDPDdb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EDI;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ReadS3" value="true"/>

		<add key="EDIFabricKey" value="cba32ac050a24f94a9f113970e750049"/>
		
		<add key="S3BucketName" value="TestBucket"/>
		<add key="S3FilePrefix" value="inbound/ncpdp/"/>	
		<add key="AccessKey" value="testing"/>
		<add key="SecretAccessKey" value="testing"/>
		<add key="EndpointUrl" value="http://localhost:4566"/>
		<add key="AWSRegion" value="us-east-1"/>
		<add key="AWSSecurityToken" value="testing"/>
		
		<add key="LocalFileLocation" value="C:\Files"/>
		<add key="LocalFileName" value="ClaimBilling"/>
	</appSettings>
</configuration>