version: "3.3"
services:
  db:
    image: "mcr.microsoft.com/mssql/server"
    container_name: sql1
    ports:
      - "1433:1433"
    environment:
      MSSQL_SA_PASSWORD: "${MSSQL_SA_PASSWORD}"
      ACCEPT_EULA: "Y"
